<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>用户注册</title>
  </head>
  <body>
    <form action="" method="post">
      <label for="username">用户名：</label>
      <input type="text" name="username" value="">
      <label for="email">邮箱：</label>
      <input type="text" name="email" value="">
      <label for="password">密码：</label>
      <input type="text" name="password" value="">
      <input type="submit" value="注册">
    </form>
    <p>{{alert}}</p>
    <a href="../">前往商城</a>
  </body>
</html>
